.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        border: 1px black solid;

    }

    form {
        .form-floating {
            margin: 5px;
        }

        .error {
            border: 1px red solid;
            display: flex;
            justify-content: center;
            align-content: center;
            margin-bottom: 80px;

            h2 {
                padding-top: 15px;
            }
        }
    }

    .btnContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            align-self: center;
            width: 215px;
            height: 79px;
            background-color: cadetblue;
            margin-bottom: 15px;
            &:hover{
                background-color: rgb(140, 199, 201);
            }
            .btn {
                box-sizing: unset;
            }
        }
    }
}