<a routerLink="product">
      <h2>Nos produits</h2>

</a>
       

<div class="card-container">
    <div class="card" style="width: 18rem;" *ngFor="let item of dataSource">
        <img src="{{item.img_src}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{item.nom}}</h3>
          <p class="card-text">{{item.caracteristique}}</p>
          <div class="price">
            <p class="card-text">{{item.prix}} €</p>
          </div>
          <a href="#" class="btn btn-primary">Ajouter au panier</a>
          <input type="hidden" value="{{item.id}}" [(ngModel)]="itemId">

        </div>
      </div>

</div>