<section class="header">
    <div class="bandeau">
        <!-- <img src="../../assets/img/img_voiture.webp" alt=""> -->
        <div class="video-container">
            <video loop src="../../assets/videos/pexels-tima-miroshnichenko-6872469-3840x2160-25fps.mp4" autoplay ></video>

        </div>
    </div>
</section>
<section class="body">
    <div class="container">
        <!-- <img src="../../assets/img/img_voiture.webp" alt="image de voiture" class="bgImage"> -->
       <app-product></app-product>
       <app-presta></app-presta>
    </div>
    
</section>

